<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Resultado</title>
        <link rel="stylesheet" href="https://redin.onrender.com/css/style.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <main class="container-fluid">
            <div class="row">
                <section class="col-12">
                    <img class="mx-3 my-5" src="https://redin.onrender.com/img/banner-dark.png" height="30" width="180" alt="Logo"/>
                </section>
                <section class="col-12">
                    <p class="title mx-auto mt-5 mb-3">Solicitud de contacto recibida</p>
                </section>
                {{#each this}}
                    <section class="col-12">
                        <form class="container form mx-auto mt-5 border border-dark border-3 rounded-3 px-4 py-5">
                            {{#if solicitud}}
                                {{#with this.solicitud}}
                                    <div class="mb-3">
                                        <label class="form-label">Nombre o Razón Social</label>
                                        <input value="{{this.nombre}}" type="text" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Teléfono</label>
                                        <input value="{{this.telefono}}" type="text" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Correo Electrónico</label>
                                        <input value="{{this.email}}" type="email" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Motivo de contacto</label>
                                        <input value="{{this.motivo}}" type="text" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Descripcion detalla de la solicitud</label>
                                        <textarea class="form-control">{{this.solicitud}}</textarea>
                                    </div>
                                {{/with}}
                            {{/if}}
                        </form>
                    </section>
                {{/each}}
            </div>
        </main>
    </body>
</html>