<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Información de Predio</title>
    </head>

    <body>
        <main style="width: 100%; margin: auto;">
            <div>
                <section style="width: 100%;">
                    <img style="margin: 10px 0 20px 0;" src="https://app-redin-qrixjl7qeq-rj.a.run.app/img/banner-dark.png" height="35" width="170" alt="Logo"/>
                </section>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                <div style="flex: 0 0 auto; width: 83.333333%;">
                    <section style="border: 1px solid #ddd; border-radius: 0.25rem; width: 100%">
                        <div style="font-size: 18px; border-bottom: 2px solid #000; text-align: center; font-weight: bold; padding: 0.75rem 1.25rem; background-color: #f8f9fa;">
                            Información de Predio
                        </div>
                        <div>
                            <p style="font-size: 18px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; margin-bottom: -1px; background-color: #f8f9fa; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                Plano de localización del predio
                            </p>
                        </div>
                        <img src="{{imageMapa}}" alt="Mapa" style="display: block; margin-left: auto; margin-right: auto; width: 70%; border: 2px solid #000; margin-top: 1rem; margin-bottom: 1rem;"/>
                        <div style="padding: 0;">
                            {{#with evaluacion}}
                                {{#each this}}
                                    {{#if @key}}
                                        <p style="margin: 0; float: none; clear: both; padding: 0.75rem 1.25rem; text-transform: uppercase; font-weight: bold; border: 1px solid #ddd; background-color: #f8f9fa; border-top: 1px solid #000; border-bottom: 1px solid #000; font-size: 18px;">
                                            {{@key}}
                                        </p>
                                        {{#each this}}
                                            <div style="display: inline-block; width: 50%; padding: 0; margin: 0;">
                                                <p style="font-size: 16px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; background-color: #d1ecf1;">{{clave}}</p>
                                            </div>
                                            <div style="float: right; display: inline-block; width: 50%; padding: 0; margin: 0;">
                                                <p style="font-size: 16px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; background-color: #e2e3e5;">{{valor}}</p>
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            {{/with}}
                        </div>
                        {{#if graficaData}}
                            {{#with this.graficaData}}
                                {{#each this}}
                                    {{#if @key}}
                                        <div style="width: 70%; margin: auto; margin-top: 100px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 10px; overflow: hidden; padding: 20px; background-color: #f8f9fa;">
                                            <h2 style="text-align: center; margin-bottom: 20px; font-size: 18px; text-transform: capitalize;">Gráfica de Ingresos y Egresos</h2>
                                            {{#each this}}
                                                <div style="width: 100%; margin-bottom: 20px;">
                                                    <div style="font-weight: bold; margin-bottom: 10px; font-size: 16px;">{{this.clave}}</div>
                                                    <div style="background-color: #d1ecf1; height: 35px; border-radius: 10px; overflow: hidden; position: relative;">
                                                        <div style="width: {{this.valor}}%; height: 100%; {{#if (equal this.clave "Utilidad")}}background-color: green;{{else}}background-color: red;{{/if}} border-radius: 10px;"></div>
                                                        <div style="position: absolute; top: 15%; left: 50%; transform: translateX(-50%); font-size: 13px; font-weight: bold; color: black;">{{divide this.valor 100}}</div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                            {{/with}}
                        {{/if}}
                        <div style="color: #6c757d; padding: 0.75rem 1.25rem;">
                            <p style="font-size: 16px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; margin-bottom: -1px;">
                                1. Para que un proyecto sea viable para un
                                promotor o inversionista, el % mínimo de
                                negociación del margen es 10%.
                            </p>
                            <p style="font-size: 16px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; margin-bottom: -1px;">
                                2. Los Valores de ingresos y egresos
                                considerados en la evaluación son referenciales
                                al estándar del mercado.
                            </p>
                            <p style="font-size: 16px; margin: 0; padding: 0.75rem 1.25rem; border: 1px solid #ddd; margin-bottom: -1px;">
                                3. Para mayor detalle del valor de su predio,
                                contáctenos para poder encontrarle el mejor
                                inversor, al Teléfono +51 991154824.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </body>

</html>